---
import { Image } from "astro:assets";
import logoLight from "@assets/arka-1-light.svg";
import logoDark from "@assets/arka-1-dark.svg";

const footerOptions = [
  {
    title: "Follow US",
    labels: [
      {
        label: "Github",
        url: "#",
      },
      {
        label: "Twitter",
        url: "#",
      },
      {
        label: "Dribble",
        url: "#",
      },
    ],
  },
  {
    title: "Platforms",
    labels: [
      {
        label: "Web",
        url: "#",
      },
      {
        label: "Mobile",
        url: "#",
      },
      {
        label: "Desktop",
        url: "#",
      },
    ],
  },
  {
    title: "About",
    labels: [
      {
        label: "Features",
        url: "#",
      },
      {
        label: "Pricing",
        url: "#",
      },
      {
        label: "FAQ",
        url: "#",
      },
    ],
  },
  {
    title: "Community",
    labels: [
      {
        label: "Youtube",
        url: "#",
      },
      {
        label: "Discord",
        url: "#",
      },
      {
        label: "Twitch",
        url: "#",
      },
    ],
  },
];
---

<footer class="w-full border-t border-slate-200 mt-32">
  <div
    class="container w-full mx-auto max-w-7xl flex flex-col md:flex-row text-start justify-center md:justify-between py-20 px-12 lg:px-0"
  >
    <div class="w-full md:w-96 py-10 md:py-0">
      <span class="inline-flex items-center justify-center w-16 h-16 mb-2">
        <img
          src={logoDark.src}
          alt="arca Logo dark"
          class="hidden dark:inline w-16 h-16"
        />
        <img
          src={logoLight.src}
          alt="arca Logo light"
          class="inline dark:hidden w-16 h-16"
        />
      </span>

      <p class="mt-2 max-w-72 text-sm text-slate-500">
        We build bold digital products and high-performance brand experiences.
      </p>
    </div>
    <nav class="w-full grid grid-cols-2 md:grid-cols-4 text-start gap-10">
      {
        footerOptions.map((el) => (
          <div>
            <h3 class="font-bold">{el.title}</h3>
            <ul class="mt-3 space-y-2">
              {el.labels.map((item) => (
                <li class="">
                  <a
                    class="transition-colors hover:text-[var(--ring)]"
                    href={item.url}
                  >
                    {item.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </nav>
  </div>
</footer>
